body{
    background-color: white;
}


nav{
    background-color:darksalmon;
    color: whitesmoke;
    padding: 25px 67px;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
list-style: none;
}

nav li a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover{
    color:darkslategrey;
    text-decoration: none;
}